{
    "presets": [
        ["@babel/env", 
            {
                "targets": {"chrome": 73},
                // "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-typescript",
    ]
}