html {
    overflow-y: hidden;
}

input:focus {
    outline: none;
}

.gameCanvas {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: absolute !important;
}

.content {
    display: inline-flex;
}

#panel {
    margin-bottom: 20px;
    margin-right: 50px;
}

.inputGroup {
    display: inline-flex;
    margin-bottom: 10px;
}

.inputLabel {
    display: block;
    width: 100px;
}

.square {
    width:20px;
    height:20px;
}

.yellow {
    background-color: rgb(200, 225, 55);
}

.red {
    background-color: rgb(187, 34, 34);
}

.squareInProgress {
    background-color: rgb(85, 155, 200) !important;
}
